
.add-list {
  height: 40px;
  padding: 10px !important;
  color: #fffdfe !important;
}

.add-list:hover {
  cursor: pointer;
  background-color: #e82c42;
  color: #fffdfe !important;
}

.list-row {
  margin: 0 0 5px 0;
}

.list-row:last-child {
  margin: 0;
}

.input {
  width: 100%;
  padding: 7px 20px;
  border: none;
  border-radius: 3px;
}

.text-area {
 width: 80%;
 padding: 7px 20px;
 background-color: #e82c42;
 border-radius: 3px;
 outline: none;
 align-self: flex-start;
 cursor: pointer;
 margin-right: 2px;
}

.text-area-empty {
  width: 80%;
  height: 32px;
  padding: 7px 20px;
  background-color: #e82c42;
  border-radius: 3px;
  outline: none;
  align-self: flex-start;
  cursor: pointer;
  margin-right: 2px;
 }

.text-area-crossed {
 width: 80%;
 padding: 7px 20px;
 background-color: #e82c42;
 color: #f9f6f3;
 text-decoration: line-through;
 border-radius: 3px;
 outline: none;
 align-self: flex-start;
 margin-right: 2px;
}

.green-btn {
  background-color: #4CAF50;
  color: #f9f6f3;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.green-btn:focus {
  outline: none;
}

.list-header {
  display: flex;
}

.task-row {
  display: flex;
}

.list-name {
  align-self: flex-start;
  height: 30px;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  color:#fffdfe;
  font-size: 15px;
  background-color: rgba(103, 95, 95, 0);
  border: none;
  outline: none;
  width: 80%;
  margin-right: 2px;
}

::placeholder {
  color: #fffdfe;
  font-weight: normal !important;
  opacity: 1; /* Firefox */
}

.list-btn {
  align-self: flex-end;
  width: 10%;
  text-align: center;
  color: #fffdfe;
}

.btn-icon {
  padding: 7px;
  font-size: 30px;
}

.plus-icon {
  padding-right: 7px;
  padding-bottom: 5px;
  font-size: 25px;
}

.cross {
  padding-left: 7px;
  font-size: 30px;
  display:inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.add-task-btn {
  width: 130px;
  height: 30px;
  padding: 5px 10px;
}

.add-text {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 13px;
}

.list-btn:hover, .add-task-btn:hover {
  background-color: #e82c42;
  border-radius: 3px;
  cursor: pointer;
}

.panel-container {
  height: 79%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: start;
  padding: 15px 15px 10px 15px;
}

.panel {
  margin: 0 15px 15px 0;
  border-radius: 5px;
  width: 24.1%;
  padding: 5px;
  background-color: #ff3c53;
  color: #fffdfe;
  font-size: 16px;
  animation-duration: 1.5s;
  box-shadow: 20px 20px 50px 1px #c02f40;
 }

 @keyframes highlight {
   0% {background-color: #ff3c53;}
   50% {background-color: #e82c42;}
   100% {background-color: #ff3c53;}
 }


.panel:nth-of-type(4n+1) { order: 1; }
.panel:nth-of-type(4n+2) { order: 2; }
.panel:nth-of-type(4n+3) { order: 3; }
.panel:nth-of-type(4n)   { order: 4; }

.break {
  flex-basis: 100%;
  width: 0;
  margin: 0;
  content: "";
  padding: 0;
  box-shadow: none;
}

@media screen and (max-width: 1100px) {
.panel { width: 32.3%;}
.panel:nth-child(3n+1) { order: 1; }
.panel:nth-child(3n+2) { order: 2; }
.panel:nth-child(3n)   { order: 3; }
.panel-container::before,
.panel-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
.break {display: none}
}

@media screen and (max-width: 900px) {
.panel { width: 49%;}
.panel:nth-child(2n+1) { order: 1; }
.panel:nth-child(2n) { order: 2; }
.panel-container::before,
.panel-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 1;
}
.break {display: none};
}

@media screen and (max-width: 600px) {
  .panel {
    width: 99.5%;
    font-size: 12px;
    }
  .panel:nth-child(n) { order: initial; }
  .green-btn {font-size: 11px;}
  .add-list {
    height: 35px;
    font-weight: bold;
  }
  .add-task-btn {
    width: 120px;
  }
  .add-text {
    padding-bottom: 15px;
  }
  .plus-icon {
    font-size: 23px;
  }
  .add-list {
    padding: 8px !important;
  }
  .add-list:hover, .add-task-btn:hover {
    background-color: #ff3c53;
  }
  .list-btn:hover {
    background-color: #ff3c53;
  }
  .text-area, .text-area-crossed, .text-area-empty, .list-name  {
    width: 79%;
  }
  .break {display: none};
}
